

<nav class="bg- border-gray-200 dark:bg-gray-900"  id="header">
  <!-- max-w-screen-xl -->
  <
    <button data-collapse-toggle="navbar-default"  #nav type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4  rounded-lg  md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0  dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a  (click)="nav.click()"  routerLink="/people" routerLinkActive="active" class="block py-2 px-3    rounded md:bg-transparent  md:p-0 dark:  " aria-current="page">{{'home' | translate}}</a>
        </li>


        <li class="compare flex justify-center">
          <a class="block py-2 px-3    rounded md:bg-transparent  md:p-0 dark:  " *ngIf="layout.config.langu=='ar'" id="en"><span (click)="changeLanguage('en',true)">{{'English'}} </span> </a>
          <a class="block py-2 px-3    rounded md:bg-transparent  md:p-0 dark:  " *ngIf="layout.config.langu=='en'" id="ar"> <span (click)="changeLanguage('ar',true)"> {{'اللغة العربية'}} </span></a><i
          class="px-1 fa fa-globe mt-3" aria-hidden="true"></i>
        </li>


        <li class="compare">
          <a class="block py-2   rounded md:bg-transparent  md:p-0 dark:  " *ngIf="!falg"
          ><span (click)="mode(true)"><i class="fa-solid fa-moon"></i></span> </a>
          <a class="block py-2     rounded md:bg-transparent  md:p-0 dark:  "  *ngIf="falg"> <span  (click)="mode(false)"> <i class="fa-regular fa-moon"></i> </span></a>
        </li>
        


      </ul>
    </div>
 
</nav>
